.Quiz {
	display: flex;
}

.Quiz-sidebar {
	background-color: #25144a;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.sidebar-title {
	color: #fff;
}

.sidebar-title span {
	color: #ff7d1d;
}

.Quiz-quizlist,
.Quiz-quizlist-wrong {
	height: 100%;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	margin: auto;
	align-self: center;
}

.Quiz-quizlist {
	background-color: #fff;
	overflow: scroll;
}

.Quiz-quizlist-wrong {
	display: none;
	text-align: center;
	background-color: #25144a;
	border-left: 7px solid #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quizlist-wrong-header,
.quizlist-wrong-paragraph {
	color: #fff;
}

.quizlist-wrong-header {
	font-weight: bolder;
}

.em-brain {
	border-radius: 50%;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.Quiz-newGame {
	background-color: #ff7d1d;
	border-color: #ff7d1d;
	color: #fff;
	font-weight: 600;
}

.Quiz-parallelogram {
	transform: skew(-20deg);
}

.Quiz-skew {
	transform: skew(20deg);
}

.Quiz-score,
.Quiz-high-score {
	color: #fff;
	font-weight: bolder;
}

.Quiz-newGame span {
	color: #25144a;
	font-style: italic;
}

.Quiz-transition-active {
	opacity: 0;
	transition: opacity 700ms ease-out;
}

.Quiz-answerColor {
	background-color: #fff;
}

@media (max-width: 399px) {
	.App,
	.Quiz {
		display: block !important;
	}

	.Quiz {
		margin: 0 auto;
		padding-top: 2.5em;
		max-width: 83%;
		height: 71vh;
	}

	.sidebar-title {
		font-size: 2em;
		padding-top: 0.49em;
    	margin-bottom: 0.25em;
	}

	.sidebar-title-small {
		display: flex;
	}

	.sidebar-title-small,
	.sidebar-title-small-col {
		margin: auto;
	}

	.sidebar-title-small-col {
		margin: auto 0.3em;
	}

	.em-brain {
		width: 3em;
		height: 3em;
		margin-top: 0.73em;
		margin-left: 1.7em;
	}

	.em-disappointed_relieved,
	.em-placeholder,
	.em-sweat_smile {
		width: 2.8em;
		height: 2.8em;
		margin: 1.4em auto;
	}

	.Quiz-newGame {
		max-height: 3.3em;
		margin-top: 1.2em;
		margin-left: 0.81em;
	}

	.Quiz-score,
	.Quiz-high-score {
		font-size: 0.81em;
	}

	.Quiz-skew {
		font-size: 0.66em;
	}

	.Quiz-header .accordion-button {
		font-size: 0.73em;
		padding: 0.49em;
	}

	.quizlist-wrong-header {
		font-size: 1.6em;
	}

	.quizlist-wrong-paragraph {
		font-size: 0.81em;
	}
}

@media (min-width: 400px) and (max-width: 575px) {
	.Quiz {
		margin: 0 auto;
		padding-top: 2.7em;
		max-width: 83%;
		height: 67vh;
	}

	.sidebar-title {
		font-size: 2.2em;
		padding-top: 0.54em;
    	margin-bottom: 0.27em;
	}

	.sidebar-title-small {
		display: flex;
	}

	.sidebar-title-small,
	.sidebar-title-small-col {
		margin: auto;
	}

	.sidebar-title-small-col {
		margin: auto 0.6em;
	}

	.em-brain {
		width: 3.3em;
		height: 3.3em;
		margin-top: 0.81em;
		margin-left: 1.8em;
	}

	.em-disappointed_relieved,
	.em-placeholder,
	.em-sweat_smile {
		width: 3.1em;
		height: 3.1em;
		margin: 1.5em auto;
	}

	.Quiz-newGame {
		max-height: 3.6em;
		margin-top: 1.3em;
		margin-left: 0.9em;
	}

	.Quiz-score,
	.Quiz-high-score {
		font-size: 0.9em;
	}

	.Quiz-skew {
		font-size: 0.73em;
	}

	.Quiz-header .accordion-button {
		font-size: 0.81em;
		padding: 0.54em;
	}

	.quizlist-wrong-header {
		font-size: 1.7em;
	}

	.quizlist-wrong-paragraph {
		font-size: 0.9em;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.Quiz {
		margin: 0 auto;
		padding-top: 3em;
		max-width: 83%;
		height: 67vh;
	}

	.sidebar-title {
		font-size: 2.4em;
		padding-top: 0.6em;
    	margin-bottom: 0.3em;
	}

	.sidebar-title-small {
		display: flex;
	}

	.sidebar-title-small,
	.sidebar-title-small-col {
		margin: auto;
	}

	.sidebar-title-small-col {
		margin: auto 1.2em;
	}

	.em-brain {
		width: 3.6em;
		height: 3.6em;
		margin-top: 0.9em;
		margin-left: 2em;
	}

	.em-disappointed_relieved,
	.em-placeholder,
	.em-sweat_smile {
		width: 3.4em;
		height: 3.4em;
		margin: 1.6em auto;
	}

	.Quiz-newGame {
		max-height: 4em;
		margin-top: 1.4em;
		margin-left: 1em;
	}

	.Quiz-score,
	.Quiz-high-score {
		font-size: 1em;
	}

	.Quiz-skew {
		font-size: 0.73em;
	}

	.Quiz-header .accordion-button {
		font-size: 0.73em;
		padding: 0.54em;
	}

	.quizlist-wrong-header {
		font-size: 1.8em;
	}

	.quizlist-wrong-paragraph {
		font-size: 1em;
	}
}

@media (max-width: 768px) {
	.App,
	.Quiz {
		display: block !important;
	}

	.sidebar-title-large {
		display: none;
	}

	.Quiz-quizlist-wrong {
		border-left: 0px !important;
		border-top: 7px solid #fff;
	}
}

@media (min-width: 769px) {
	.Quiz {
		width: 80%;
		height: 80%;
	}

	.Quiz-sidebar {
		width: 30%;
		height: 80vh;
	}

	.sidebar-title {
		font-size: 2.4em;
	}

	.sidebar-title-small {
		display: none;
	}

	.Quiz-quizlist,
	.Quiz-quizlist-wrong {
		width: 70%;
	}

	.em {
		display: block;
		margin: auto;
	}

	.em-brain {
		width: 4.8em;
		height: 4.8em;
	}

	.em-disappointed_relieved,
	.em-placeholder,
	.em-sweat_smile {
		width: 3.7em;
		height: 3.7em;
		margin: 1.7em auto;
	}

	.Quiz-score {
		font-size: 1.5em;
		margin-top: 0.81em;
		text-align: center;
	}

	.Quiz-high-score {
		text-align: center;
	}

	.Quiz-newGame {
		width: 6.6em;
		height: 2.3em;
		margin-top: 1em;
	}

	.Quiz-skew {
		font-size: 0.81em;
	}

	.Quiz-header .accordion-button {
		font-size: 0.81em;
		padding: 0.6em;
	}

	.quizlist-wrong-header {
		font-size: 2em;
	}

	.quizlist-wrong-paragraph {
		font-size: 1.1em;
	}
}

@media (min-width: 992px) {
	.Quiz {
		width: 80%;
		height: 80%;
	}

	.sidebar-title {
		font-size: 2.6em;
	}

	.Quiz-quizlist,
	.Quiz-quizlist-wrong {
		width: 70%;
	}

	.em-brain {
		width: 5.3em;
		height: 5.3em;
	}

	.em-disappointed_relieved,
	.em-placeholder,
	.em-sweat_smile {
		width: 4.1em;
		height: 4.1em;
		margin: 1.8em auto;
	}

	.Quiz-score {
		font-size: 1.6em;
		margin-top: 0.9em;
	}

	.Quiz-newGame {
		width: 7.3em;
		height: 2.5em;
		margin-top: 1.1em;
	}

	.Quiz-skew {
		font-size: 0.9em;
	}

	.Quiz-header .accordion-button {
		padding: 0.66em;
	}

	.quizlist-wrong-header {
		font-size: 2.2em;
	}

	.quizlist-wrong-paragraph {
		font-size: 1.2em;
	}
}

@media (min-width: 1200px) {
	.Quiz {
		width: 80%;
		height: 80%;
	}

	.sidebar-title {
		font-size: 2.8em;
	}

	.Quiz-quizlist,
	.Quiz-quizlist-wrong {
		width: 70%;
	}

	.em-brain {
		width: 5.8em;
		height: 5.8em;
	}

	.em-disappointed_relieved,
	.em-placeholder,
	.em-sweat_smile {
		width: 4.5em;
		height: 4.5em;
		margin: 2em auto;
	}

	.Quiz-score {
		font-size: 1.7em;
		margin-top: 1em;
	}

	.Quiz-newGame {
		width: 8.1em;
		height: 2.7em;
		margin-top: 1.2em;
	}

	.Quiz-skew {
		font-size: 1em;
	}

	.Quiz-header .accordion-button {
		padding: 0.73em;
	}

	.quizlist-wrong-header {
		font-size: 2.4em;
	}

	.quizlist-wrong-paragraph {
		font-size: 1.3em;
	}
}

@media (min-width: 1400px) {
	.Quiz {
		width: 80%;
		height: 80%;
	}

	.sidebar-title {
		font-size: 3.1em;
	}

	.Quiz-quizlist,
	.Quiz-quizlist-wrong {
		width: 70%;
	}

	.em-brain {
		width: 6.4em;
		height: 6.4em;
	}

	.em-disappointed_relieved,
	.em-placeholder,
	.em-sweat_smile {
		width: 5em;
		height: 5em;
		margin: 2.2em auto;
	}

	.Quiz-score {
		font-size: 1.8em;
		margin-top: 1.1em;
	}

	.Quiz-newGame {
		width: 9em;
		height: 3em;
		margin-top: 1.3em;
	}

	.Quiz-skew {
		font-size: 1.1em;
	}

	.Quiz-header .accordion-button {
		font-size: 0.9em;
		padding: 0.81em;
	}

	.quizlist-wrong-header {
		font-size: 2.6em;
	}

	.quizlist-wrong-paragraph {
		font-size: 1.4em;
	}
}
