.Quiz {
	display: flex;
}

.Quiz-timer {
	color: #fff;
}

.Quiz-sidebar {
	background-color: #25144a;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.sidebar-title {
	color: #fff;
}

.sidebar-title span {
	color: #ff7d1d;
}

.Quiz-quizlist,
.Quiz-quizlist-wrong {
	height: 100%;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	margin: auto;
	align-self: center;
}

.Quiz-quizlist {
	background-color: #fff;
	overflow: scroll;
}

.Quiz-quizlist-wrong {
	display: none;
	text-align: center;
	background-color: #fff;
}

.Quiz-quizlist-wrong h1 {
	color: blue;
}

.em-brain {
	border-radius: 50%;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.Quiz-newGame {
	background-color: #ff7d1d;
	border-color: #ff7d1d;
	color: #fff;
	font-weight: 600;
}

.Quiz-parallelogram {
	transform: skew(-20deg);
}

.Quiz-skew {
	transform: skew(20deg);
}

.Quiz-score,
.Quiz-high-score {
	color: #fff;
	font-weight: bolder;
}

.Quiz-newGame span {
	color: #25144a;
	font-style: italic;
}

.Quiz-transition-active {
	opacity: 0;
	transition: opacity 700ms ease-out;
}

.Quiz-answerColor {
	background-color: #fff;
}

@media (min-width: 1200px) {
	.Quiz {
		width: 80%;
		height: 80%;
	}

	.Quiz-timer {
		font-size: 2.8em;
		margin-left: 0.81em;
	}

	.Quiz-sidebar {
		width: 30%;
		height: 80vh;
	}

	.sidebar-title {
		font-size: 3.1em;
	}

	.Quiz-quizlist,
	.Quiz-quizlist-wrong {
		width: 70%;
	}

	.em-brain {
		width: 6.4em;
		height: 6.4em;
	}

	.em-disappointed_relieved,
	.em-placeholder,
	.em-sweat_smile {
		width: 5em;
		height: 5em;
		margin: 2.2em auto;
	}

	/* test */

	.Quiz-score {
		font-size: 1.8em;
		margin: 1.1em auto;
	}

	.Quiz-newGame {
		width: 9em;
		height: 3em;
		margin-top: 1.3em;
	}

	.Quiz-skew {
		font-size: 1.1em;
	}

	.Quiz-header .accordion-button {
		font-size: 0.9em;
		padding: 0.81em;
	}
}
