.Quiz {
	display: flex;
}

.Quiz-timer {
	position: absolute;
	color: #fff;
}

.Quiz-sidebar {
	background-color: #25144a;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.sidebar-title {
	color: #fff;
}

.sidebar-title span {
	color: #ff7d1d;
}

.Quiz-quizlist {
	height: 100%;
	background-color: #fff;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	margin: auto;
	align-self: center;
	overflow: scroll;
}

.em {
	border-radius: 50%;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.Quiz-newGame {
	background-color: #ff7d1d;
	border-color: #ff7d1d;
	color: #fff;
	font-weight: 600;
}

.Quiz-newGame span {
	color: #25144a;
	font-style: italic;
}

.Quiz-transition-active {
	opacity: 0;
	transition: opacity 700ms ease-out;
}

.Quiz-answerColor {
	background-color: #fff;
}

@media (min-width: 1600px) {
	.Quiz {
		width: 80%;
		height: 80%;
	}

	.Quiz-timer {
		font-size: 2.8em;
		left: 39em;
	}

	.Quiz-sidebar {
		width: 30%;
		height: 80vh;
	}

	.sidebar-title {
		font-size: 2.6em;
	}

	.Quiz-quizlist {
		width: 70%;
	}

	.em {
		width: 8em;
		height: 8em;
	}

	.Quiz-newgame {
		font-size: 1.2em;
		width: 9em;
		height: 3em;
	}

	.Quiz-header .accordion-button {
		font-size: 0.9em;
		padding: 0.81em;
	}
}
